.layout-container {
  display: flex;
  flex-direction: row;
  min-height: 100vh;
}

.main-content {
  flex-grow: 1; /* 사이드바 제외 나머지 공간 차지 */
  /* 필요에 따라 추가 스타일 */
  display: flex;
  flex-direction: column;
  width: 100%;
}

.main-area {
  background-color: white;
  flex-grow: 1;
}
