.header-container {
  height: 200px;
  width: 100vw;
  background-color: rgb(77, 77, 77);
}
.upper-menu {
  background-color: skyblue;
  height: 50px;
  width: 80vw;
  display: flex;
  flex-direction: row;
}
.find-menu {
  background-color: antiquewhite;
}
.user-info {
  background-color: aquamarine;
}
.mid-menu {
  background-color: black;
  height: 20px;
  width: 70vw;
}
.button-area {
  display: flex;
  flex-direction: row;
}
.single-button {
  color: white;
}
