.dashboard-container {
  /* background-color: orange; */
  display: flex;
  flex-direction: row;
}

.side-bar {
  display: flex;
  flex-direction: column;
}

.area-tabs {
  background-color: orange;
}
